@media only screen and (min-width: 450px) {
        .page1 {
                background-image: url(../img/hero_sunset_large_2x.jpg);
        }
        .page2 {
                background-image: url(../img/technology_hero_large_2x.jpg);
        }
        .wrap {
                float: left;
                width: 30%;
                margin: 1%;
                height: 50%;
                position: relative;
                background-color: #f2f2f2;
        }
        .watch {
                margin-left: 30%;
        }
        #icon1 {
                margin: auto;
                width: 200px;
                height: 60px;
                margin-top: 20px;
                background: url(../img/logo_collection_edition.svg);
                background-repeat: no-repeat;
        }
        #icon2 {
                margin-left: 30%;
                width: 200px;
                height: 60px;
                margin-top: 20px;
                background: url(../img/logo_collection_primary.svg);
                background-repeat: no-repeat;
        }
        #icon3 {
                margin: auto;
                width: 200px;
                height: 60px;
                margin-top: 20px;
                background: url(../img/logo_collection_sport.svg);
                background-repeat: no-repeat;
        }
}


/*
                @media only screen and (min-width: 400px) and (max-width: 1024px){
                        .page1 {
                          background-image:url(../img/mobile_hero_sunset_large_2x.jpg);
                        }
                         .page2{
                          background-image:url(../img/mobile_technology_hero_large_2x.jpg);
                        }

                }*/

@media only screen and (max-width: 450px) and (min-width:370px) {
        .page1 {
                background-image: url(../img/mobile_hero_sunset_large_2x.jpg);
        }
        .page2 {
                background-image: url(../img/mobile_technology_hero_large_2x.jpg);
        }
        .content1 {
                margin-bottom: 65%;
        }
        .content2 {
                margin-bottom: 20%;
        }
        .content3 {
                margin-bottom: 30%;
        }
        .content4 {
                width: 50%;
                margin: auto;
                text-align: center;
                margin-bottom: 20%;
        }
        #wraplist {
                margin-top: 1%;
                margin-right: 5%;
                padding: 5%;
        }
        .wrap {
                margin: auto;
                width: 50%;
                height: 5%;
                position: relative;
                background-color: #f2f2f2;
                margin-bottom: 5%;
        }
        .watch {
                margin-left: 30%;
        }
}

@media only screen and (max-width: 370px) {
        .page1 {
                background-image: url(../img/mobile_hero_sunset_large_2x.jpg);
        }
        .page2 {
                background-image: url(../img/mobile_technology_hero_large_2x.jpg);
        }
        .content1 {
                margin-bottom: 65%;
        }
        .content2 {
                margin-bottom: 20%;
        }
        .content3 {
                margin-bottom: 30%;
        }
        .content4 {
                text-align: center;
                margin-bottom: 20%;
        }
        #wraplist {
                margin-top: 1%;
                padding-right: 5%;
        }
        .wrap {
                float: left;
                margin: 3%;
                width: 40%;
                height: 5%;
                position: relative;
                background-color: #f2f2f2;
                margin-bottom: 5%;
        }
        .watch {
                margin-left: 30%;
        }
        .i5 {
                width: 35%;
                height: 5%;
                position: relative;
                background-color: #f2f2f2;
        }
}

a {
        text-decoration: none;
}

li {
        list-style-type: none;
}

.page1 {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
}

.page2 {
        height: 100%;
        background-repeat: no-repeat;
        background-color: #f2f2f2;
        background-position: bottom;
        background-size: 100% 85%;
}

.page3 {
        height: 100%;
        background-image: url(../img/timekeeping_hero_large_2x.jpg);
        background-repeat: no-repeat;
        position: relative;
        background-position: 50% 100%;
        background-size: 50% 65%;
}

.page4 {
        background-color: rgba(242 242 242 1);
        height: 100%;
}

h1,
p {
        color: white;
        text-align: center;
}

p {
        font-size: 18px;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5px;
        line-height: 25px;
}

#p1 {
        color: orange;
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
}

.content2 {
        width: 100%;
        height: 70%;
}

h3,
h2 {
        position: relative;
        text-align: center;
        visibility: hidden;
}

#p2,
#p3 {
        color: #15A7D2;
        text-align: center;
        font-size: 14px;
}

.content3 {
        width: 100%;
        height: 75%;
}

.jishi {
        width: 70%;
        margin: auto;
        font-size: 14px;
        color: gray;
        text-align: center;
}

.content4 {
        width: 100%;
        height: 75%;
}

.tittle4 {
        text-align: center;
        position: relative;
        font-size: 20px;
        font-weight: bold
}

#waplist {
        margin: auto;
        width: 100%;
        height: 100%;
}

.watch {
        position: relative;
        height: 60%;
        width: 40%;
        padding-top: 6%;
        background-color: rgba(242 242 242 1);
}

.text {
        margin: auto;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 3%;
        font-size: 12px;
        text-align: center;
        color: gray;
}

.readmore {
        margin: auto;
        padding: auto;
        margin-bottom: 3%;
        text-align: center;
        font-size: 12px;
        color: #15A7D2;
}


/*css动画*/


/*字体放大*/

@keyframes my_h {
        0% {
                transform: scale(0.2);
        }
        100% {
                transform: scale(1);
        }
        /*100% {transform: scale(1);}*/
}

.tittle1 {
        animation: my_h 1s linear 0.01s 1;
        /* Safari and Chrome: */
        -webkit-animation: my_h 1s linear 0.01s 1;
}

.pan2,
.pan3 {
        visibility: visible;
        animation: my_h 0.8s linear 0s 1;
        /* Safari and Chrome: */
        -webkit-animation: my_h 0.8s linear 0s 1;
}


/*手表旋转*/

@keyframes my_watch {
        0% {
                transform: rotate(0);
        }
        50% {
                transform: rotate(90deg);
        }
        100% {
                transform: rotate(0deg);
        }
        /*100% {transform: scale(1);}*/
}

.pan41:hover {
        animation: my_watch 1s ease-in-out 0.01s 1;
        /* Safari and Chrome: */
        -webkit-animation: my_watch 1s ease-in-out 0.01s 1;
}

.pan4 {
        animation: my_watch 1s ease-in-out 0.01s 1;
        /* Safari and Chrome: */
        -webkit-animation: my_watch 1s ease-in-out 0.01s 1;
}

html {
        font-family: Helvetica, Microsoft yahei, Arial;
        -webkit-text-size-adjust: none;
}
